.carrousel-title {
    color: var(--color-orange);
    background-color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, 
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.cards {
    background: var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.description-title {
    color: var(--color-orange);
    font-weight: 700;
}

.description-title-book {
    color: var(--color-blue);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.description-text {
    font-size: 14px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
}

.buttons-item {
    margin: 0 0.5em;
}

.buttons-anchor {
    background-color: var(--color-orange);
    padding: 1 2.2em;
    color: var(--color-white);
    font-weight: 700;
    text-decoration: none;
}
