header.white-header {
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-menu {
  width: 24px;
  height: 24px;
  background-image: url("../assets/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.container {
  display: flex;
  align-items: center;
}

.container-image {
  padding: 1em;
}

.container-button {
  display: none;
}

.container-button:checked~.menu-list {
  display: block;
}

.container-button:checked~.label-container>.header-menu {
  background-image: url("../assets/Menu\ Aberto.svg");
}

.container-button:checked~.label-container {
  background: var(--color-gradient-blue);
}

.container-title {
  display: none;
}

.container-text {
  display: none;
}

.options {
  display: none;
}

.menu-list {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.menu-list-title,
.menu-list-item {
  padding: 1em;
  background-color: var(--color-white);
}

.menu-list-title {
  color: var(--color-orange);
  font-weight: 700;
}

.menu-list-link {
  background: var(--color-gradient-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {

  .container-title,
  .container-title--bold {
    font-family: var(--secondary-font);
    font-size: 30px;
  }

  .container-title {
    font-weight: 400;
    display: block;
  }

  .container-title--bold {
    font-weight: 700;
  }

  .options {
    display: flex;
  }

  .options-item {
    padding: 0 1em;
    text-transform: uppercase;
  }

  .options-link {
    text-decoration: none;
    color: var(--color-black);
  }

  .container-image--transparent {
    display: none;
  }

  .header-menu {
    display: none;
  }

  .options-button {
    display: none;
  }

  .options-button:checked~.menu-list {
    display: block;
    width: auto;
  }

  .options-button:checked~.options-label>.options-item {
    background: var(--color-gradient-blue);
    color: var(--color-white);
  }

  .options-item {
    padding: 2em 1em;
  }

  .menu-list-item:hover {
    background: var(--color-gradient-blue);
  }
  .menu-list-item:hover>.menu-list-link {
    -webkit-text-fill-color:var(--color-white);
    text-decoration: none;
  }
}


@media screen and (min-width: 1728px) {
  .container-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-black);
  }

  .white-header {
    padding: 0 2em;
  }

  .options {
    margin-right: auto;
  }

  .container-text {
    display: block;
  }
}
