.topics {
    background: var(--color-gradient-blue);
    text-align: center;
    padding: 1em 0;
}

.topics-title {
    color: var(--color-white); 
    font-weight: 300;
    margin-bottom: 1em;
}

.topics-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics-item {
    margin: 2em 0.5em;
}

.topics-link {
    color: var(--color-white);
    padding: 1em;
    background-color: var(--color-orange);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

